<!DOCTYPE html>
<html lang="en">
<head>
    <script src="bundle.js"></script>
    <meta charset="UTF-8">
    <title>My App Rocks!</title>
</head>
<body ng-app="app">
<h1>{{"Hello World!"}}</h1>
<p ng-controller="Hello as hi">
    {{hi.salutation}}
</p>
</body>
</html>